 @model AerobicWorkoutAddViewModel
@{
    ViewData["Title"] = "Add Aerobic Workout";
    var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="row">

                <div class="col-sm-12 mb-4">
                    <label asp-for="@Model.AerobicActivities" class="form-label-add-edit">Select Activity</label>
                    <select asp-for="@Model.AerobicActivityId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.AerobicActivities, "Id", "Name"))">
                        <option value="">Select Activity...</option>
                    </select>
                    <span asp-validation-for="@Model.AerobicActivityId" class="text-danger"></span>
                </div>
                 <div class="col-sm-12 mb-4">
                    <label asp-for="@Model.TrainingPeriods" class="form-label-add-edit">Select Period</label>
                    <select asp-for="@Model.TrainingPeriodId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.TrainingPeriods, "Id", "Name"))">
                        <option value="">Select Period...</option>
                    </select>
                    <span asp-validation-for="@Model.AerobicActivityId" class="text-danger"></span>
                </div>
                <div class="col-sm-12 mb-4">
                    <label asp-for="@Model.DaysOfWeek" class="form-label-add-edit">Select Day</label>
                    <select asp-for="@Model.DayOfWeekId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.DaysOfWeek, "Id", "Name"))">
                        <option value="">Select MedicineTypes...</option>
                    </select>
                    <span asp-validation-for="@Model.DayOfWeekId" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 mb-2">
                    <label asp-for="@Model.DateAndTime" class="form-label-add-edit">Date</label>
                    <input asp-for="@Model.DateAndTime" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.DateAndTime" class="text-danger"></span>
                </div>

                <div class="col-sm-12 mb-2">
                    <label asp-for="@Model.Duration" class="form-label-add-edit">Duration</label>
                    <input asp-for="@Model.Duration" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.Duration" class="text-danger"></span>
                </div>

                <div class="col-sm-12 mb-2">
                    <label asp-for="@Model.ElevationGain" class="form-label-add-edit">Elevation Gain</label>
                    <input asp-for="@Model.ElevationGain" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.ElevationGain" class="text-danger"></span>
                </div>

                <div class="col-sm-12 mb-2">
                    <label asp-for="@Model.Distance" class="form-label-add-edit">Distance</label>
                    <input asp-for="@Model.Distance" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.Distance" class="text-danger"></span>
                </div>

                <div class="col-sm-12 mb-2">
                    <label asp-for="@Model.AverageHeartRate" class="form-label-add-edit">AverageHeartRate</label>
                    <input asp-for="@Model.AverageHeartRate" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.AverageHeartRate" class="text-danger"></span>
                </div>

            </div>
            <div class="mb-2">
                <input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
 