 @model IndexQueryModel

@{
    ViewBag.Title = "All Aerobic Workouts";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" class="form-control">
                    <option value="">All</option>
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
        </div>
 
        <div class="form-group col-md-3">
            <label asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3">
             <div class="form-group">
             <label asp-for="WorkoutSorting"></label>
             <select asp-for="WorkoutSorting" class="form-control">
                <option value="0">Newest</option>
                <option value="1">Oldest</option>
                <option value="2">Longest(Duration)</option>
                <option value="3">Shortest(Duration)</option>
                <option value="4">Longest(Distance)</option>
                <option value="5">Shortest(Distance)</option>
            </select>
            </div>
        </div>

        <div class="col-md-3">
             <div class="form-group mt-4 p-2">
                  <input type="submit" value="Search" class="btn btn-primary" />
             </div>
        </div>
    </div>

</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    int maxPage = (int)Math.Ceiling((double)Model.TotalWorkouts /
            Model.WorkoutsPerPage);
}

<div class="row mb-5">
<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
<a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" :
    string.Empty)"
        asp-controller="AerobicWorkout"
        asp-action="Index"
        asp-route-currentPage="@previousPage"
        asp-route-types="@Model.Types"
        asp-route-searchString="@Model.SearchString"
        asp-route-workoutSorting="@((int)Model.WorkoutSorting)"><<</a>
</div>
@{
var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
!Model.AerobicWorkouts.Any();
}
<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
<a class="btn btn-primary
@(shouldButtonBeDisabled ? "disabled" : string.Empty)"
       asp-controller="AerobicWorkout"
       asp-action="Index"
       asp-route-currentPage="@(Model.CurrentPage + 1)"
       asp-route-type="@Model.Type"
       asp-route-searchString="@Model.SearchString"
       asp-route-workoutSorting="@((int)Model.WorkoutSorting)">>></a>
</div>
</div>

@if (!Model.AerobicWorkouts.Any())
{
    <h2 class="text-center">No workout found by the given criteria!</h2>
}

<div>
    <partial name="_AerobicWorkoutPartial"/>
</div>

 